{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <!-- force the view to be as the pc Full HD -->
  <meta name="viewport" content="width=1080">

  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Document</title>
  
  <link rel="stylesheet" href="{% static "note/css/index.css" %}">
  <link rel="stylesheet" href="{% static "note/css/quill.css" %}">
  <link rel="stylesheet" href="{% static "note/css/add-note-form.css" %}">
  <link rel="stylesheet" href="{% static "note/css/content.css" %}">



  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
  

</head>
<body>
    <!-- for the title -->
    <header>
      <h1>FOXNOTE</h1>
    </header>


    <!-- for the navbar -->
    <nav> 

      <div class="navbar-left-section">
        <button class="select-button" onclick="showSelectionOptions(), checkEditing(event)">Select</button>
        <button class="delete-selection" onclick="deleteSelect()">delete</button>
        <button class="select-all-selection" onclick="selectAll()">select all</button>
        <button class="cancel-selection" onclick="cancelSelection()">cancel</button>
      </div>


      <div class="navbar-right-section">
        <button class="search-button" onclick="startSearch(), checkEditing(event)">Search</button>

        <button class="create-note" onclick="createNoteForm(), checkEditing(event)">Create note</button>

        <a class="my-notes" href="{% url 'note_account' request.user.username %}" onclick="checkEditing(event)">My notes</a>
  
  
        <button class="my-profile" onclick="toggleDropdown()">
          Profile
        </button>
  
      </div>

      <div id="dropdown-menu" class="dropdown-content">
        <a href="{% url 'profile-management' request.user.username %}" style="border-radius: 15px 15px 0 0;" onclick="checkEditing(event)">profile management <img src="{% static 'note/image/profile.png' %}" alt="profile"></a>
        <a href="{% url 'account_logout' %}" style="border-radius: 0 0 15px 15px;" onclick="checkEditing(event)">Logout <img src="{% static 'note/image/logout.png' %}" alt="logout"></a>
      </div>
    </nav>








  <div class="forms note-and-tag-form">
    <span class="close-button" onclick="closeSearch()">&times;</span>
    <div class="add-note">
      <form id="add-note-form" action="" method="post" onsubmit="return createNote(event)">
        {% csrf_token %}
        {{ note_form }}
        <input type="hidden" name="note_content" id="note-content"> <!-- Hidden input to store Quill content -->
        <div id="form-note"></div>
        <button type="submit" class="pushable">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front"> 
              Add note
            <img class="add-icon" src="{% static 'note/image/add.png' %}" alt="search icon">
          </span>
        </button>
      </form>  
      <button class="add-tag-button" onclick="showAddTagForm ()">Add tag <span>+</span></button>
    </div>
    
    <div class="add-tag">
      <form id="add-tag-form" action="" method="post" onsubmit="return createTag(event)">
        {% csrf_token %}
        {{tag_formset}}
        <button type="submit">Add tag <span>+</span></button>
      </form>
    </div>
    
  </div>



  <form id="search-form" class="search-form" onsubmit="searchResult(event)">
    <span class="close-button" onclick="closeSearch()">&times;</span>
    <label class="search-form-label" for="search-mode">Choose search mode:</label>
    <select id="search-mode" onchange="toggleSearchFields()">
      <option class="option" value="title">Search by Title</option>
      <option class="option" value="tag">Search by Tag</option>
      <option class="option" value="advanced">Advanced Search</option>
    </select>
  
    <div id="title-search" style="display:none;">
      <label for="title-input">Title:</label>
      <input type="text" id="title-input" name="title" placeholder="search for a title">
      <span id="title-error" class="error-message"></span>
    </div>
  
    <div id="tag-search" style="display:none;">
      <label for="tag-input" class="tag-label">Tag:</label>
      <input type="text" id="tag-input" name="tag" placeholder="search the tag">
      <span id="tag-error" class="error-message"></span>
    </div>
  
    <div id="advanced-search" style="display:none;">
      <div class="title">
        <label for="advanced-title-input">Title:</label>
        <input type="text" id="advanced-title-input" name="advanced_title" placeholder="search the title">
        <span id="advanced-title-error" class="error-message"></span>
      </div>

      <div class="tag">
        <label for="advanced-tag-input" class="tag-label">Tag:</label>
        <input type="text" id="advanced-tag-input" name="advanced_tag" placeholder="search the tag">
        <span id="advanced-tag-error" class="error-message"></span>
      </div>
    </div>
  
    <button type="submit" class="pushable">
      <span class="shadow"></span>
      <span class="edge"></span>
      <span class="front"> 
          Search 
      <img class="search-icon" src="{% static 'note/image/search.png' %}" alt="search icon">

      </span>
    </button>
  </form>
  <div class="form-overlay" onclick="closeSearch(), hideEditPopup()"></div>


  <!-- the content of the note -->
  <div id="notes"></div>



  <button id="show-more" data-offset="3" onclick="showMore()" type="submit" class="pushable pushable-show-more">
    <span class="shadow shadow-show-more"></span>
    <span class="edge edge-show-more"></span>
    <span class="front front-show-more"> 
      load more
    </span>
  </button>

  <footer></footer>
  



  <!-- trying the window that show when the eidt mode is started -->

  


  <script>
    const getProfileNotesUrl = "{% url 'get-profile-notes' %}";
  </script>
  

  <script src='{% static "note/javascript/quill-note.js" %}'></script>

  <script src="{% static 'note/javascript/index.js' %}"></script>

  <script src="{% static 'note/javascript/index-2.js' %}"></script>
</body>
</html>