{% load static %}
{% load i18n %}
{% load allauth account %}
<head>
    <link rel="stylesheet" href="{% static "account/css/login.css" %}">
</head>

{% block content %}
    <header><h1>FORXNOTE</h1></header>
    <div class="login">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="black" d="M16 8a5 5 0 1 0 5 5a5 5 0 0 0-5-5"/><path fill="black" d="M16 2a14 14 0 1 0 14 14A14.016 14.016 0 0 0 16 2m7.993 22.926A5 5 0 0 0 19 20h-6a5 5 0 0 0-4.992 4.926a12 12 0 1 1 15.985 0"/></svg>
        <div class="login-from">
            <div class="form-title">
                {% element h2 %}
                {% trans "Sign In" %}
                {% endelement %}
            </div>
            {% if not SOCIALACCOUNT_ONLY %}
                {% setvar link %}
                    <a href="{{ signup_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                    </a>
                {% endsetvar %}
                {% url 'account_login' as login_url %}
                {% element form form=form method="post" action=login_url tags="entrance,login" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" tags="prominent,login" %}
                            {% trans "Sign In" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                {% element hr %}
                {% endelement %}
                {% element button_group vertical=True %}
                    {% if PASSKEY_LOGIN_ENABLED %}
                        {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                            {% trans "Sign in with a passkey" %}
                        {% endelement %}
                    {% endif %}
                    {% if LOGIN_BY_CODE_ENABLED %}
                        {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                            {% trans "Mail me a sign-in code" %}
                        {% endelement %}
                    {% endif %}
                {% endelement %}
            {% endif %}
            {% element p %}
                {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
            {% endelement %}
        </div>
        <div class="login-from-socialaccount">
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
            {% endblock content %}
            {% block extra_body %}
            {% if PASSKEY_LOGIN_ENABLED %}
                {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
            {% endif %}
        </div>
    </div>
{% endblock %}