{% load static %}
{% load i18n %}
{% load allauth %}



<link rel="stylesheet" href="{% static "/account/css/password_reset_form_key.css" %}">

<div class="reveal-background"></div>


<header>
	<h1>FOXNOTE</h1>
</header>


<div class="popup-message-container">

	{% if messages %}
			
		{% for message in messages %}

			<div id="popup-{{ forloop.counter }}" class="popup-message">
				<span class="message">{{ message }}</span>
				<button onclick="closePopup('popup-{{ forloop.counter }}')">&times;</button>
			</div>

		{% endfor %}
		
	{% endif %}


</div>




<div class="success-message-container">
	<div class="success-message">
        {% block content %}
            {% element h1 %}
                {% if token_fail %}
                    {% trans "Bad Token" %}
                {% else %}
                    {% trans "Change Password" %}
                {% endif %}
            {% endelement %}
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                {% element p %}
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset.</a>{% endblocktrans %}
                {% endelement %}
            {% else %}
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        <button type="submit" class="pushable">
                            <span class="shadow"></span>
                            <span class="edge"></span>
                            <span class="front"> 
                                {% trans 'Change Password' %} 
                            </span>
                        </button>
                    {% endslot %}
                {% endelement %}
            {% endif %}
        {% endblock content %}
	</div>
</div>


<!-- todo the animation of removing popup message -->
<script src="{% static "account/js/remove-popup-message.js" %}"></script>
<script src="{% static 'account/js/password_change.js' %}"></script>