{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}

<link rel="stylesheet" href="{% static "/account/css/password_reset_done.css" %}">

<div class="reveal-background"></div>


<!-- for the title -->
<header>
	<h1>FOXNOTE</h1>
</header>



<!-- for the message popup -->
<div class="popup-message-container">

	{% if messages %}
			
		{% for message in messages %}

			<div id="popup-{{ forloop.counter }}" class="popup-message">
				<span class="message">{{ message }}</span>
				<button onclick="closePopup('popup-{{ forloop.counter }}')">&times;</button>
			</div>

		{% endfor %}
		
	{% endif %}


</div>




<!-- for the success message -->
<div class="success-message-container">
	<div class="success-message">
        {% block content %}
            {% element h1 %}
                {% trans "Password Reset" %}
            {% endelement %}
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            {% element p %}
                {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise <a href="mailto:python.py2002@gmail.com">contact</a> us if you do not receive it in a few minutes.{% endblocktrans %}
            {% endelement %}
        {% endblock content %}
    </div>
</div>



<!-- todo the animation of removing popup message -->
<script src="{% static "account/js/remove-popup-message.js" %}"></script>