{% load static %}
{% load allauth i18n %}

<head>
    <link rel="stylesheet" href="{% static "account/css/singup.css" %}">
</head>


{% block content %}
    <header>
        <h1>FORXNOTE</h1>
    </header>

<div class='main'>

    <div class="signup">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="black" d="M16 8a5 5 0 1 0 5 5a5 5 0 0 0-5-5"/><path fill="black" d="M16 2a14 14 0 1 0 14 14A14.016 14.016 0 0 0 16 2m7.993 22.926A5 5 0 0 0 19 20h-6a5 5 0 0 0-4.992 4.926a12 12 0 1 1 15.985 0"/></svg>
        
        <div class="signup-from">
            <div class="form-title">
                {% element h2 %}
                    {% trans "Sign Up" %}
                {% endelement %}
            </div>

            {% setvar link %}
                <a href="{{ login_url }}">
                {% endsetvar %}
                {% setvar end_link %}
                </a>
            {% endsetvar %}
            {% element p %}
                {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
            {% endelement %}
            {% if not SOCIALACCOUNT_ONLY %}
                {% url 'account_signup' as action_url %}
                {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        {% element button tags="prominent,signup" type="submit" %}
                            {% trans "Sign Up" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endif %}
        </div>


        <div class="signup-from-socialaccount">
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
        
    </div>
    
</div>
{% endblock content %}


<script src="{% static 'account/js/password_change.js' %}"></script>